:root{
    --primary-color: #c7a17a;
    --background-color: #f9f5f0;
	--dark-color: #151515;
}

*{
    margin: 0;
    padding: 0;
 }

html{
    font-family: 'Poppins', sans-serif;
}

.header{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    position: sticky;
    top: 0;
    opacity: 0.9;
    z-index: 10;
}

.contenedor_superior{
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0.5rem;
    height: 2.2rem;
}

.contenedor_soporte{
    display: none;
    align-items: center;
    gap: 1rem;
}

.contenedor_soporte i{
    font-size: 1.5rem;
} 

.contenedor_soporte_datos{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}

.contenedor_logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}

.contenedor_logo i{
    font-size: 1.5rem;
}

.logo{
    border: none;
    background-color: var(--background-color); 
}

.logo a{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.contenedor_carrito{
    cursor: pointer;
    justify-content: center;
    margin: 0.5rem;
}

.contenedor_carrito .fa-user{
    font-size: 1.5rem;
    color: var(--primary-color);
    padding-right: 0rem;
}

.contenedor_carrito .fa-user:hover{
    color: var(--dark-color);
}
.contenedor_registra{
    display: none;
    text-decoration: none;
    color: #000;
    font-size: 0.8rem;
}

.contenedor_registra:hover{
    color: var(--primary-color);
}
/*NAV BAR*/

.contenedor_navbar{
    background-color: var(--primary-color);
}

.menu{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    padding: 0 1rem;
    margin: 0rem;
    height: 2.2rem;
}

.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    font-size: .9rem;
    color: var(--dark-color);
    font-weight: 700;
    position: relative;
}


/* FOOTER */
.footer{
    box-sizing: border-box;
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    border: 0;
    padding: 0;
}

.contenedor_footer{
    /*border: 2px solid blue;*/
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contenedor_info{
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 2rem;
}

.contenedor_titulo{
    text-align: center;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
}


.contenedor_contacto ul,
.contenedor_nos ul{
    display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.contenedor_contacto ul li,
.contenedor_nos ul li{
    list-style: none;
	color: #fff;
	font-size: 0.8rem;
	font-weight: 400;
}

.contenedor_nos ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

.contenedor_nos ul li a:hover{
    color: var(--dark-color);
}

.contenedor_redes{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.contenedor_redes ul{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

.contenedor_redes ul li{
    list-style: none;
}
.contenedor_redes a{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;

}

.contenedor_redes a:hover{
    color: #3b5998;
}

.fa-facebook-f{
	background-color: #3b5998;
}
.fa-twitter{
	background-color: #00acee;
}

.fa-youtube{
	background-color: #c4302b;
}

.fa-pinterest-p{
	background-color: #c8232c;
}

.fa-instagram{
	background: linear-gradient(
		#405de6,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d,
		#f56040,
		#fcaf45
	);
}

.copyright{
    border: 1 rem;
    text-align: center;
    font-size: .8rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.copyright p{
    text-align: center;
}

/* MEDIA QUERIES */

@media (min-width:610px){
 /*HEADER */
.contenedor_superior{
    height: 3rem;
}

 .contenedor_soporte{
    display: flex;
}
.menu a{
    font-size: 1.2rem;
} 
.contenedor_carrito .fa-user{
    display: none;
}
.contenedor_registra{
    display:contents;
}
.contenedor_logo i{
    font-size: 2rem;
}

.contenedor_logo h1 a{
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.menu{
    height: 3rem;
}
/* FOOTER */ 
 
    .contenedor_info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .contenedor_redes ul{
        column-gap: 0.5rem;
    }

    .contenedor_titulo{
        font-size: 0.8rem;
    }
 
    .contenedor_contacto ul li,
    .contenedor_nos ul li{
    list-style: none;
	color: #fff;
	font-size: 0.8rem;
	font-weight: 400;
    }

}


/* ********************************** */
/*               BANNER               */
/* ********************************** */
/*
.banner {
	background-image: linear-gradient(100deg, #000000, #00000020),
		url('img/banner.jpg');
	height: 60rem;
	background-size: cover;
	background-position: center;
}

.content-banner {
	max-width: 90rem;
	margin: 0 auto;
	padding: 25rem 0;
}

.content-banner p {
	color: var(--primary-color);
	font-size: 1.2rem;
	margin-bottom: 1rem;
	font-weight: 500;
}

.content-banner h2 {
	color: #fff;
	font-size: 3.5rem;
	font-weight: 500;
	line-height: 1.2;
}

.content-banner a {
	margin-top: 2rem;
	text-decoration: none;
	color: #fff;
	background-color: var(--primary-color);
	display: inline-block;
	padding: 1rem 3rem;
	text-transform: uppercase;
	border-radius: 3rem;
}

*/