/*.root{
    padding: 0;
    margin: 0;
    border: 0;
}

*{ 
    box-sizing: border-box;
    padding-left: rem;
    padding-right: rem;
    margin: 0rem;
    padding: 0  ;
}

body{
    border: 2px solid;
    margin: 0; 
}

html{
    margin: 0;
}