@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
	--primary-color: #c7a17a;
	--background-color: #f9f5f0;
	/**--dark-color: #151515;**/
}

html {
	
	/**background-color: #000;**/
	/**font-size: 62.5%;**/
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ************ */
/*             UTILIDADES             */
/* ************ */



.container {
	max-width: 120rem;
	margin: 0 auto;
}

.header-1 {
	color: #ff0000;
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}

/* ************ */
/*               HEADER               */
/* ************ */
.container-hero {
	background-color: var(--background-color);
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
}

.customer-support {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.customer-support i {
	font-size: 3.3rem;
}

.content-customer-support {
	display: flex;
	flex-direction: column;
}

.container-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.container-logo i {
	font-size: 3rem;
}

.container-logo h1 a {
	text-decoration: none;
	color: #000;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.container-user {
	display: flex;
	gap: 1rem;
	cursor: pointer;
}

.container-user .fa-user {
	font-size: 3rem;
	color: var(--primary-color);
	padding-right: 2.5rem;
	border-right: 1px solid #e2e2e2;
}

.container-user .fa-basket-shopping {
	font-size: 3rem;
	color: var(--primary-color);
	padding-left: 1rem;
}

.content-shopping-cart {
	display: flex;
	flex-direction: column;
}
/* ************* NAVBAR ************* */
.container-navbar {
	background-color: var(--primary-color);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.navbar .fa-bars {
	display: none;
}



.search-form {
	position: relative;
	display: flex;
	align-items: center;
	border: 2px solid #fff;
	border-radius: 2rem;
	background-color: #fff;
	height: 4.4rem;
	overflow: hidden;
}

.search-form input {
	outline: none;
	font-family: inherit;
	border: none;
	width: 25rem;
	font-size: 1.4rem;
	padding: 0 2rem;
	color: #777;
	cursor: pointer;
}

.search-form input::-webkit-search-cancel-button {
	appearance: none;
}

.search-form .btn-search {
	border: none;
	/* background-color: var(--primary-color); */
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 1rem;
}

.btn-search i {
	width: 50px;
	font-size: 2rem;
	color: #d20101;
}
/* ********************************** */
/*               BANNER               */
/* ********************************** */
.banner{
	background-image: url('../img/cafeteria\ 2.jpg');
	height: 550px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
 }
.content-banner{
	padding-top: 100px;
	text-align: center;
	align-content: center;
}

.containerP{
	display: inline-block;
	background-color:#00000062;
	color: #fff;
	width: 450px;
	font-size: 3.5rem;
	font-weight: 500;
	line-height: 1.2;
}

.content-banner a {
	margin-top: 2rem;
	text-decoration: none;
	color: #fff;
	background-color: var(--primary-color);
	display: inline-block;
	padding: 1rem 3rem;
	text-transform: uppercase;
	border-radius: 3rem;
}
.content-banner p {
	color: #070303c7;
	font-weight: bold;
 }

/* --------------------------------------------------------------------- */

.categoríasMejores{
	display: flex;
	justify-content: center;
	gap: 5px;
	Font-size : 12px;
	
}
.categoríasMejores > section{
	
	background-color: red;
	/* background-color: rgba(71, 70, 68, 0.704); */
	text-align:center;
	overflow:hidden;
	flex: 1;
	width: 220px;
	height: 250px;
	transition: all .5s cubic-bezier(.25, .4, .45, 1);
	border: 2px solid black;
}
.categoríasMejores > section:hover{
	flex: 3;
	background-color: rgba(250, 133, 24, 0.986);
	text-align:center;
	align-items: center;
}
.imgCategoria{
	
	margin-left: 29px;
	Max-width: 100%;
   	max-height: 50%;
	margin-left: 11 px 5 px;
}
.imgCategoriaComida{

	Max-width: 100%;
	max-height: 40%;
	Margin: 23px 2px;
	}
.textDescripcion{
margin: 0px 12px;
}

.articleCard{
display: flex;
margin: 10px;
justify-content: center;
gap: 4px;
}
.articleCard > section{
	  
	display:flex;    
	
	text-align: center;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	border: 2px #000 solid;
	font-size: 10px;
	Padding :10px;
    height: 60px;
	height: 60px;
	border-radius: 15px;
}
#itms {
position:relative;
top: -10px;
right: 6px;

}



	

